.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}
#app-all{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5vw;
  align-items: center;
  z-index: 1;
}

#break-details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#break-label{
  display: flex;
  border: 3px solid orange;
  padding: 10px;
  gap:5px;
  box-shadow: 0px 0px 25px;
  transition: 1s color;
}

#session-details{
  display: flex;
  flex-direction: column;
}
#session-label{
  display: flex;
  border: 3px solid orange;
  padding: 10px;
  gap:5px;
  box-shadow: 0px 0px 25px;
  transition: 1s color;
}
#in-on{
  align-self: center;
  max-height: 0px;
  padding: 0px;
  margin: 0px;
}

#timer-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid orange;
  gap:5px;
  padding: 20px;
  flex-basis:100%;
  box-shadow: 0px 0px 40px;
  transition: 2s color;
}

#timer-buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 1vw;
}

.adjust-button{
  align-self: center;
}
.active{
  color: rgb(164, 218, 164);
}
.running{
  color: rgb(58, 156, 58);
}
.paused{
  color: rgb(245, 245, 81);
}